@page "/callbacks"

<h1>Event Callbacks</h1>

<p>Current parent value is: @counter</p>

<CallbacksExampleChild OnChanged="HandleOnChanged" />

@code {
    private int counter = 0;

    private void HandleOnChanged(int value)
    {
        counter = value;
    }
}
